*{
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  font-family: 'Poiret One', cursive;
}

#navigate {
  background: #3C3C3C;
  width: 100%;
  height: 3%;
  display: flex;
}

#navigate3 {
  background: #3C3C3C;
  width: 100%;
  height: 3%;
  display: none;

}
#fondo{
 background: url(fondo.jpg);
  height: 97.2%;
  width: 100%;
  position: absolute;
 background-size: cover;
 z-index: 1;
 //filter:blur(1px);
}

#all{
 background: transparent;
  height: 97.2%;
  width: 100%;
  position: relative;
 background-size: cover;
 z-index: 1;
}

#apps{
 background-color: transparent;
 position: absolute;
 left: 5%;
  height: 100%;
  width:95%;
  //display: flex;
 z-index:2;
 //filter:blur(1px);
}

#navigate2 {
  background: rgba(105,1,58,0.4);
  width: 5%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 6;
  border: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-width:;
  border-right-color:rgba(183,183,183,0.2);

}

#buscador{
  background-color:rgba(105,1,58,0.4);
  position: absolute;
  left: 5%;
  height: 9%;
  width:95%;
  //display: flex;
  display: none;
  z-index: 3;
  //visibility: hidden;
}


#txBuscador{
  z-index: 4;
  left: 8%;
  top:5%;
  background-color: rgba(0,0,0,0.1);
  height: 80%;
  width: 65%;
  position: absolute;
  border: none; /* <-- This thing here */
  border:solid 1px #ccc;
  border-radius: 10px;
  font-size: 150%;
  font-style: italic;
  color: rgba(183,183,183,0.7);
  //visibility: hidden; 

}

#lupa{
  position: absolute;
  left: 6%;
  top:30%;
  color: white;
  z-index: 4;
  //display: none;
}

#start{ 
  background-color:rgba(105,1,58,0.4);
  position: absolute;
  top: 9%;
  left: 5%;
  width: 95%;
  height: 91%; 
  z-index:4;
  display: none;

}

.btn{
  width: 95%;
  height: 9%;
  transition: opacity .50s;
  //z-index: 2 !important;
}

.btn2{
  width: 20%;
  height: 30%;
  position: absolute;
  left: 40%;
  transition: opacity .50s;
  //z-index: 2 !important;
}


.btnApps{
  width: 7%;
  height: 14%;
  transition: background-color .50s;
  padding-left: 1%;
  padding-right: 1%;
  //z-index: 2 !important;
}



#calc{
  height: 50%;
  width: 20%;
  position:absolute;
  top: 25%;
  left: 30%;
  background-color: white;
  border: none;
  z-index: 5;
  display: none;
}

#panel{
  height: 25%;
  width: 100%;
  border: none;
  border-bottom-width: 2px;
  border-bottom-color: black; 
  background-color: #ccc;
  font-family:Helvetica;
  font-size: 300%; 
}

#numeros{
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
  height: 75%;
  box-shadow: none;


}

.btnNumbers{
  height: 20%;
  width: 25%;
  transition: background-color .50s;
  background-color: #DEDADA;
  display: flex;
  border:none;
   text-align: center;
  }
  
#cierracalc{
  height: 5%;
  width: 100%;
  background-color: #3C3C3C;

}

#datos{
  position: absolute;
  left: 80%;
  height: 5%;
  width: 20%;
  background-color: #3C3C3C;
  z-index: 8;

}

#andres{
  position: absolute;
  top: 25%;
  left: 20%;
  height: 50%;
  width: 60%;
  background-color: red;
  z-index: 8;

}

#notas{
  position: absolute;
  top: 10%;
  left: 25%;
  height: 80%;
  width: 50%;
  background-color: red;
  z-index: 8;

}

.btn:hover{
  opacity: 0.3;
  background-color: rgb(80,80,80);
}

.btnApps:hover{
  background-color: rgba(180,180,180, 0.3);
}

.btnNumbers:hover{
   background-color: rgba(180,180,180, 10);
}

.absol{
  position: absolute;
}

.relati{
  position: relative;
}

.inlineblock {
  display: inline-block;
}

.text-right{
  text-align: right;
}

.colorWhite{
  color: white;
}

.colorBlack{
  color: black;
}

.colorGray{
  color: rgba(183,183,183,10); 
}

.left5{
  padding-left: 5%;
}
.top2{
  padding-top: 2%;
}
.bold{
  font-weight: bold;
}

.size20{
  font-size: 150%;
}

.z{
  z-index: 4;
}

.flex-item{
  flex-grow:1;
}

.flex{
  display: flex;
}

.text-center {
  text-align: center;
}

.point{
  cursor:pointer;
}


.circle{
    width: 6%;
    height: 100%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #FF6A24;
    cursor:pointer;
   
}

.circle2{
    width: 1.2%;
    height: 80%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #FF6A24;
    cursor:pointer;
}

.circle3{
    width: 3%;
    height: 90%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #FF6A24;
    cursor:pointer;
}







.inline-block {
  display: inline-block;
  margin-right: -4px;
}

.little-padding {
  padding: 20px;
}

.medium-padding-top {
  padding-top: 80px;
}

.not-move {
  overflow: hidden;
}

ul li:hover {
  background: #FF6E2B;
}

.right-spaces {
  margin-right: 9%;
}

.left-spaces {
  padding-left: 20%;
}

.serif-font {
  font-family: 'Bree Serif', serif;
}


